main section .container-1{
    width: 380px;

}
main section div h1{
    font-size: 65px;
    color: #00ffff;
}
main section div h2{
    font-size: 30px;
    color: #7fffd4;
}
main section div p{
    font-size: 20px;
    color: #f0f8ff;
}
#tec{
    margin-left:20px ;
}
#tec-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.cardes-tec{
    background: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.cardes-tec:hover{
    background: #f0ffff;
    cursor: pointer;
}
.tecnologias{
    width: 60px;
    height: 60px;
}
.div-cont{
    width: 770px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contatos{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contato{
    background-color: #ffffff4d;
    width: 370px;
    height: 70px;
    margin: 10px 30px 10px 0;
    border: solid 2px #4444444d;
    box-shadow: 10px 10px 10px #44444480;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contato:hover{
    background-color: rgba(0, 0, 0, 0.01);
    cursor: pointer;
}
.cont-nome{
    color: rgb(0, 0, 99);
}
.color-cont{
    color: #00ffff;
    font-size: 25px;
}
.email{
    font-size: 17px;
    color: #00ffff;
}
.projets{
    width: 1150px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Projetos{
    width: 400px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.09);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-projet{
    cursor: pointer;
    width: 370px;
    height: 370px;
}
.titulo-projets{
    color: #ffffff;
    font-size: 30px;
}
.fundo{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.fundo.abrir-jane{
    display: flex;
}
.descric-projets{
    background: #212121e6;
    width: 310px;
    padding: 30px;
    height: 310px;
    border-radius: 10px ;
    color: #fff;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}

.button-proje{
    background: #008000;
    cursor: pointer;
    color: #fff;
    width: 150px;
    border-radius: 5px;
}
.fechar{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
}