@media (max-width: 1150px) {
    .container, .projets{
      width: 1024px;
    }
}
  
@media (max-width: 1024px) {
    .container, .projets {
      width: 915px;
    }
    .cardes-tec{
      padding: 20px;
      margin: 20px;
    }
    .tecnologias{
      width: 50px;
      height: 50px;
    }
}
  
@media (max-width: 915px) {
    .container, .projets{
        width: 695px;
        display: flex;
        flex-direction: column;
    }
    .cardes-tec{
      padding: 15px;
      margin: 15px;
    }
    .tecnologias{
      width: 45px;
      height: 45px;
    }
    .div-cont{
      width: 695px;
    }
    .contatos{
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    .row{
      width: 525px;
    } 
}

@media (max-width: 695px) {
    .container, .projets{
      width: 480px;
    }
    .div-cont{
      width: 480px;
    }
    .contatos{
      display: flex;
      flex-wrap: wrap;
    }
    .row{
      width: 375px;
    }
}
  
@media (max-width: 480px) {
    .container,  .div-cont{
      width: 420px;
    }
    .cardes-tec{
      padding: 10px;
      margin: 10px;
    }
    .tecnologias{
      width: 40px;
      height: 40px;
    }
    .div-cont{
      width: 430px;
    }
    .projets{
      width: 380px;
    }
    .Projetos{
      width: 380px;
    }
    .img-projet{
      width: 350px;
      height: 350px;
    }
    .container{
      margin: 0;
    }
    footer{
      width: 370px;
    }
  }